lightning
gymnasium
screeninfo
stable_baselines3
pyautogui
gymnasium-robotics
vit-pytorch
wandb
experiment_buddy
scipy
scikit-learn
pydantic

# torch This is already loded in the cluster, since we use the conda env traces_llm
pyopenssl # Mila cluster
